div
    div.row
        
        div.col-md-6
            h4 Select Number of Assitants To Add : 
        div.col-md-6
            div.dropdown
            button.btn.btn-default.dropdown-toggle#dropdownMenu1(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") # {{number_of_assitants}}
                    span.caret
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                    li(ng-repeat='i in getNumber(number)')
                        a(href="javascript: void(0)", ng-click="select_number($index)") {{$index}}


    
    div.row(ng-if="total_input > 0")
        form(name="assisForm", novalidate)
            div.form-group(ng-repeat="assis in assisData.assistants", ng-class="{ 'has-error' : assisFieldForm.name.$invalid }")
                ng-form(name="assisFieldForm")
                    label Assistant Name:
                    input.form-control(type="text",name="name", ng-model="assis.name",required,ng-minlength="3")
                    p.help-block(ng-show="assisFieldForm.name.$invalid && assisFieldForm.name.$dirty") Please Enter a Valid Name for Assistant  
            
            button.btn.btn-primary(ng-disabled="assisForm.$invalid", ng-show="total_input>0",data-toggle="modal" ,data-target="#permissionModal") Proceed
    
    hr
    h5 Present Assistants:
    div.row(ng-init="check_for_assistants()")
    table.table.table-striped
        thead
            tr
                th Name 
                th Calendar Permissions
                th Practice Location Permissions
        tbody
            tr(ng-repeat='assistant in assistants | reverse') 
                td {{assistant.name}}
                td {{assistant.calendar | decode_permissions}}
                td {{assistant.practice_location | decode_permissions}}
    div.modal.fade#permissionModal(tabindex="-1" ,role="dialog", aria-labelledby="myModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-label="Close")
                        span &times;
                    h4.modal-title Assistant Permissions
                div.modal-body    
                    
                    div(ng-if="assisData.assistants")
                        ul.nav.nav-tabs(role="tablist")
                            li(role="presentation",ng-repeat="assis in assisData.assistants",ng-class="{'active': $index == 0}")
                                a(aria-control="{{$index}}",role="tab",data-toggle="tab",ng-click="change_tab($index)") {{assis.name}}{{show}}
                        div.tab-content
                            div.tab-pane(ng-repeat="assis in assisData.assistants",ng-class="{'active': show_tab == $index}")
                                h3  Set Permissions For - {{assis.name}}
                                table.table.table-striped
                                    thead
                                        tr
                                            th Permissions 
                                            th Calendar
                                            th Practice Location
                                    tbody
                                        tr
                                            td Edit
                                            td 
                                                input(type="checkbox",ng-model="assis.calendar.edit")
                                            td
                                                input(type="checkbox",ng-model="assis.practice_location.edit")

                                                
                                        tr
                                            td View
                                            td 
                                                input(type="checkbox",ng-model="assis.calendar.view")
                                            td 
                                                input(type="checkbox",ng-model="assis.practice_location.view")
                        div.modal-footer
                            button.btn.btn-default(type='button',data-dismiss="modal") Close
                            button.btn.btn-primary(type='button',ng-click="save_assistants();") Save
                                       
                                
                               
                                
                                
                                
                        