!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Doctor Assistant Dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
    